body{
    background-color:rgb(81, 65, 79);
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}
.title{
    text-align: center;
    margin-left: 480px;
    margin-top: 5px;
    padding: 5px;
    width:600px;    
}
h1{
    color:whitesmoke;    
}
.Reg{
    background-color: white;
    width: 500px;
    border: 1px solid white;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 500px;
    margin-right: 400px;
    padding: 40px;
}
.form{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    text-align: justify;
}
.form-text{
    margin-top: 3px;
}
input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type="radio"],
input[type="checkbox"] {
    margin-right: 10px;
}
fieldset {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
}
select{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}
.submit{
    background-color: rgb(81, 65, 79);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}
@media(max-width: 480px){
    h1{
        font-size: 16px;
    }
    .title{
        margin-top: 2px;
        margin-left: 5px;
        width: 100%;
    }
    .Reg{
        width: 255px;
        padding: 30px;
        margin-right: 40px !important;
        margin-left: 55px !important;
      
    }
    .form{
        font-size: 12px;
    }

    select{
        font-size: 10px;
    }
   
    fieldset{
        padding: 5px;
    }
}
@media(min-width: 481px) and (max-width: 1200px){
    h1{
        font-size: 20px;
    }
    .title{
        margin-top: 20px;
        margin-left: 5px;
        width: 100%;
    }
    .Reg{
        width: 80%;
        padding: 30px;
        margin-top: 40px;
        margin-right: 60px !important;
        margin-left: 80px !important;
    }
    .form{
        font-size: 18px;
    }

    select{
        font-size: 16px;
    }
   
    fieldset{
        padding: 10px;
    }
}
@media(min-width: 1201px) and (max-width: 1600px){
    h1{
        font-size: 40px;
    }
    .title{
        margin-top: 20px;
        margin-left: 5px;
        width: 100%;
    }
    .Reg{
        width: 90%;
        padding: 30px;
        margin: 40px !important;
      
    }
    .form{
        font-size: 20px;
    }

    select{
        font-size: 18px;
    }
   
    fieldset{
        padding: 20px;
    }
}
@media(min-width: 1601px){
    h1{
        font-size: 50px;
    }
    .title{
        margin-top: 20px;
        margin-left: 5px;
        width: 100%;
    }
    .Reg{
        width: 90%;
        height: 1000px;
        padding: 50px;
        margin: 100px !important;
      
    }
    .form{
        font-size: 30px;

    }

    select{
        font-size: 20px;
    }
   
    fieldset{
        padding: 30px;
    }
}
@media(max-width: 480px){
    h1{
        font-size: 16px;
    }
    .title{
        margin-top: 2px;
        margin-left: 5px;
        width: 100%;
    }
    .Reg{
        width: 255px;
        padding: 30px;
        margin-right: 40px !important;
        margin-left: 55px !important;
      
    }
    .form{
        font-size: 12px;
    }

    select{
        font-size: 10px;
    }
   
    fieldset{
        padding: 5px;
    }
}
@media(min-width: 481px) and (max-width: 1200px){
    h1{
        font-size: 20px;
    }
    .title{
        margin-top: 20px;
        margin-left: 5px;
        width: 100%;
    }
    .Reg{
        width: 80%;
        padding: 30px;
        margin-top: 40px;
        margin-right: 60px !important;
        margin-left: 80px !important;
    }
    .form{
        font-size: 18px;
    }

    select{
        font-size: 16px;
    }
   
    fieldset{
        padding: 10px;
    }
}
@media(min-width: 1201px) and (max-width: 1600px){
    h1{
        font-size: 40px;
    }
    .title{
        margin-top: 20px;
        margin-left: 5px;
        width: 100%;
    }
    .Reg{
        width: 90%;
        padding: 30px;
        margin: 40px !important;
      
    }
    .form{
        font-size: 20px;
    }

    select{
        font-size: 18px;
    }
   
    fieldset{
        padding: 20px;
    }
}
@media(min-width: 1601px){
    h1{
        font-size: 50px;
    }
    .title{
        margin-top: 20px;
        margin-left: 5px;
        width: 100%;
    }
    .Reg{
        width: 90%;
        height: 1000px;
        padding: 50px;
        margin: 100px !important;
      
    }
    .form{
        font-size: 30px;

    }

    select{
        font-size: 20px;
    }
   
    fieldset{
        padding: 30px;
    }
}
